
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
}

.container {
  display: flex;
  height: 80vh;
  border: 1px solid grey;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.todoForm {
  display: flex;
  justify-content: space-around;
  width: 450px;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;
  background-color: green;
  color: aliceblue;
}

button.edit-btn {
  background-color: yellow;
  color: black;
}

button.delete-btn {
  background-color: red;
  color: aliceblue;
}

.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.singleTodo {
  border-radius: 10px;
  margin: 10px 0;
  background-color: #5dadf8;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
}

.todoText {
  flex: 1;
}

/* Medium Screens (Tablets) */
@media (max-width: 1024px) {
  .container {
    height: 70vh;
    padding: 15px;
    font-size: 18px;
  }

  .todoForm {
    width: 400px;
  }

  .singleTodo {
    width: 400px;
  }
}

/* Small Screens (Mobile) */
@media (max-width: 768px) {
  .container {
    height: 60vh;
    padding: 10px;
    font-size: 16px;
  }

  .todoForm {
    flex-direction: column;
    width: 100%;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }

  .singleTodo {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .container {
    height: 50vh;
    padding: 10px;
    font-size: 16px;
  }

  .todoForm {
    flex-direction: column;
    width: 100%;
  }

  input {
    width: 90%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
  button.edit-btn {
    width: 100%;
    margin: 5px 0;
    padding:5px;
    
  }
  
  button.delete-btn {
    width: 90%;
    margin: 5px 1px;
    padding:5px;
  }

  .singleTodo {
    width: 64%;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}
